html
  head
    title Tapiro
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css")
    script(type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js")
    script.
      function removeParent(button) {
        button.parentNode.remove();
      }

      function addLink() {
        const container = document.getElementById('link-container');
        const div = document.createElement('div');

        const input = document.createElement('sl-input');
        input.name = "links[]";

        const button = document.createElement('sl-button');
        button.type = "button";
        button.innerText = "Remove";
        button.onclick = function () {
          removeParent(this);
        };

        div.appendChild(input);
        div.appendChild(button);
        container.appendChild(div);
      }
    style.
      form {
        width: 500px
      }
      #link-container div {
        display: flex;
        margin-bottom: 10px;
      }
      .main {
        width: 800px;
        margin: 0 auto;
      }
  body
    .main
      form(action=`/edit` method="post")
          sl-button(type="button" onclick="addLink()") Add
          sl-button(type="submit") Submit
          br
          br
          #link-container
              each item in links
                  div
                      sl-input(name="links[]" value=item)
                      sl-button(type="button" onclick="removeParent(this)") Remove
                  

      
